{% extends 'base.html.twig' %}

{% block title %}New Categoria{% endblock %}

{% block body %}
    <h1 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">Create new Categoria</h1>

    {{ include('categoria/_form.html.twig') }}

    <a href="{{ path('categoria_index') }}">back to list</a>
{% endblock %}
