{% extends 'layout1.html.twig' %}
{% block contenido %}
           
                <h1 class="pt-2 tm-color-primary tm-post-title text-center">XtraBlog</h1>
            <div class="row tm-row">    
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
                    <video width="954" height="535" controls class="tm-mb-40">
                        <source src="video/wheat-field.mp4" type="video/mp4">							  
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
           
{% endblock %} 